/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

/* Custom Scrollbar */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f75c03 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #f75c03;
  border-radius: 10px;
  border: 3px solid #f75c03;
}

/* Utilities Classes */
.transition__200 {
  @apply transition-all duration-200 ease-in-out;
}
.transition__300 {
  @apply transition-all duration-300 ease-in-out;
}

/* Custom Classes */
.global__container {
  @apply container h-full px-4 mx-auto max-w-7xl sm:px-6;
}
.bg__overlay__70 {
  @apply after:content-[""] after:absolute after:top-0 after:left-0 after:bg-[#000] after:opacity-70 after:w-full after:h-full after:z-0;
}
.bg__overlay__50 {
  @apply after:content-[""] after:absolute after:top-0 after:left-0 after:bg-[#000] after:opacity-50 after:w-full after:h-full after:z-0;
}
.underline__effect {
  @apply relative transition-all duration-300 ease-in-out before:content-[''] before:absolute before:-bottom-1 before:left-1/2 before:-translate-x-1/2 before:w-0 before:h-[3px] before:opacity-0 before:bg-brand-main before:transition-all before:duration-300 before:ease-in-out hover:before:w-full hover:before:opacity-100;
}
.underline__effect__active {
  @apply relative transition-all duration-300 ease-in-out before:content-[''] before:absolute before:-bottom-1 before:left-1/2 before:-translate-x-1/2 before:h-[3px] before:bg-brand-main before:transition-all before:duration-300 before:ease-in-out before:w-full before:opacity-100;
}
.section__card {
  @apply relative z-10 -mt-4 bg-white rounded-t-2xl;
}

/* Colored Text */
.brand__red {
  @apply text-brand-main;
}

/* Underline */
.underline__1 {
  @apply bg-bottom bg-no-repeat bg-contain bg-underline1;
}
